<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Appenders>
        <Console name="STDOUT">
            <PatternLayout pattern="[%-5level] %d{ISO8601} - %m%n" />
        </Console>
    </Appenders>
    <Loggers>
        <Logger name="com.chriswk" level="trace" />
        <Logger name="org.springframework" level="warn" />
        <Logger name="httpclient.wire" level="debug" />
        <Root level="debug">
            <AppenderRef ref="STDOUT" />
        </Root>
    </Loggers>
</Configuration>